.body {
  font-family: Tanker, sans-serif;
}

.section-lauren {
  background-color: #ffecd2;
  background-image: linear-gradient(200deg, #ffecd2, #f54ea2);
  align-items: center;
  height: 100vh;
  padding: 60px;
  display: flex;
}

.heading {
  letter-spacing: 7px;
  font-size: 184px;
  line-height: 160px;
}

.section-nati {
  background-color: #ffecd2;
  background-image: linear-gradient(200deg, #fbc2eb, #9257fe);
  align-items: center;
  height: 100vh;
  padding: 60px;
  display: flex;
}

.section-bri {
  background-color: #ffecd2;
  background-image: linear-gradient(200deg, #ffedbc, #ec6f66);
  align-items: center;
  height: 100vh;
  padding: 60px;
  display: flex;
}

.section-sami {
  background-color: #ffecd2;
  background-image: linear-gradient(200deg, #2af598, #08aeea);
  align-items: center;
  height: 100vh;
  padding: 60px;
  display: flex;
}

.text-field {
  border: 4px solid #b4bcc6;
}

.section {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #a3d9ff;
  border-radius: 10px;
  flex-flow: column;
  flex: 1;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px 40px;
  display: flex;
}

.div-block.divcol1 {
  background-color: #fff;
  padding: 0;
}

.text-block {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 144px;
    line-height: 130px;
  }
}

@media screen and (max-width: 479px) {
  .section-lauren {
    height: 100vh;
    padding: 20px;
  }

  .heading {
    font-size: 84px;
    line-height: 80px;
  }

  .section-nati, .section-bri, .section-sami {
    height: 100vh;
    padding: 20px;
  }
}


@font-face {
  font-family: 'Tanker';
  src: url('../fonts/Tanker-Regular.eot') format('embedded-opentype'), url('../fonts/Tanker-Regular.woff') format('woff'), url('../fonts/Tanker-Regular.ttf') format('truetype'), url('../fonts/Tanker-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}